//npm watch 動態儲存
//npm run dev一次性

.font_title{
	color:#0066FF;
	font-weight: bold;
	font-family:Microsoft JhengHei;
}

.img_chcolor{
	opacity:1;
	filter:alpha(opacity=100);
}
.img_chcolor:hover{
	opacity:0.5;
	filter:alpha(opacity=50);
}
